/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    margin: 0 auto;
    width: 1024px;
    margin-right: 42px;
    margin-top: 30px;
    margin-left: 42px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    align-items: center;
    width: 940px;
    
}

.header img{
    height: 40px;   
}

.header ul{ 
    display: flex;
    align-items: center;  
    margin-top: 10px;
    margin-bottom: 8px;
}

.header a{
    text-decoration:none;
    color: #3F5D45;
    margin: 10px;
    /* font-size: 16px; */
    /* border: 1px solid; */
    margin-right: 60px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/73px PingFang TC;
}

.header ul img{
    height: 24px;
    align-items: center;
    padding-left: 20px;
}

.banner{
    height: 496px;
    width: 940px;
}

.main{
    display: flex;
    margin-top: 60px;
}

.right{ /* right-side content of main */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-end;
    margin-bottom: 40px;
}

.leftbar li{
    width: 300px;
    height: 65px;   
    border: 1px solid #EAF0ED;
    font: normal normal 600 24px/40px PingFang TC;
    color: #3F5D45;
    text-align: center;
    line-height: 65px;   /* 設定垂直置中 */ 
}  

#top{
    background: #3F5D45 0% 0% no-repeat padding-box;
    z-index:1;
    color: #EAF0ED;
    text-align: center;
    line-height: 65px;
}

#second{
    background: #EAF0ED 0% 0% no-repeat padding-box;
}

.products{
    width: 662px;
    display: flex;
    flex-wrap: wrap;

}

 .products li{
    margin-bottom: 20px;
    margin-right: 20px;
} 

#img{
    vertical-align: middle;
    position: relative;
}
.pnandprice{
    width: 300px;
    height: 56px;
    line-height: 56px;
    letter-spacing: 0px;
    border: 1px solid #EAF0ED;
    /* display: inline; */
    /* border-right: 1px solid #EAF0ED;  
    border-left: 1px solid #EAF0ED; 
    border-bottom: 1px solid #EAF0ED; */
}

.pn{ /* pn = product name(產品名稱) */
    display: inline;
    width: 173px;
    font: normal normal 300 20px/20px PingFang TC;
    color: #3F5D45;
    text-align: left;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-right: 1px solid #EAF0ED;
}

.price{
    display: inline;
    width: 127px;
    color: #3F5D45;
    font: normal normal 600 20px/24px PingFang TC; 
    text-align: center; 
    padding-right: 20px;
    padding-left: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.addp{ /* addp = add product(加入購物車) */
    width: 300px;
    height: 65px;
    background: #EAF0ED 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    text-align: center;
    font: normal normal 600 24px/20px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    line-height: 65px;
}

.pofday{ /* pofday = product of day(每日精選) */
    display: flex;
    width: 36px;
    height: 107px;
    background: #3F5D45;
    font: normal normal 600 16px/20px PingFang TC;
    letter-spacing: 0px;
    color: #EAF0ED;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 677px;
    left: 385px;
}

#favorite{
    position: absolute;
    top: 686px;
    left: 620px;
}

.page ul{ 
    display: flex;
    margin-right: 35px;
} 

.page li{
    width: 60px;
    height: 60px;
    border: 1px solid #EAF0ED;
    text-align: center;
    font: normal normal 300 20px/20px PingFang TC;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3F5D45;
    line-height: 60px;
}

.page img{ /* 微調arrow icon位置，不知道為何沒辦法跟page li的文字一起垂直置中 */
    margin-top: 18px;
}

#one{
    background: #3F5D45 0% 0% no-repeat padding-box;
    border: 1px solid #3F5D45;
    font: normal normal 600 20px/20px PingFang TC;
    letter-spacing: 0px;
    color: #EAF0ED;
    line-height: 60px;
}


.inform{
    width: 1024px;
    height: 116px;
    background: #3F5D45 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-inform{
    display: flex;
    margin-top: 38px;
    margin-bottom: 38px;
    justify-content: center;
    align-items: center;
}

.left-inform img{
    width: 40px;
    height: 40px;
    padding-right: 20px;

}

.left-inform p{
    width: 216px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font: normal normal normal 24px/29px Helvetica Neue;
    letter-spacing: 0px;
    color: #EAF0ED;
}

.right-inform{
    width: 380px;
    height: 56px;
    background: #EAF0ED ;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

#mail{
    width: 24px;
    height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
}

.box{
    width: 64px;
    height: 56px;
    background: #FFE180;
    position: absolute;
    top: 0px;
    right:0px;
}

#arrowfward{
    width: 16px;
    height: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}
